# Handle line endings automatically for files detected as text
# and leave binary files untouched.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.py text
*.md text
*.txt text
*.yml text
*.toml text
*.css text
*.html text
*.js text
*.json text

# Declare files that will always have LF line endings on checkout.
*.sh text eol=lf
Dockerfile text eol=lf
.gitignore text eol=lf
